<template>
  <div class="main-content">
    <nav>
      <div :key="bible.abbrev" v-for="bible in bibles">
        <router-link :to="`/bible/${bible.abbrev}/books`">
          {{ bible.name }} {{ bible.abbrev }}
        </router-link>
      </div>
      <div>
        <router-link :to="`/search`">
          Search
        </router-link>
      </div>
    </nav>
    <router-view />
  </div>
</template>
<script>
import { getBibles } from '@/services/api';
export default {
  data() {
    return {
      bibles: []
    }
  },
  beforeMount() {
    getBibles().then(data => {
      this.bibles = data;
    })
  }
}
</script>
<style lang="scss" scoped>
.main-content {
  nav {
    display: flex;
    justify-content: space-around;
  }
}
</style>
