<template>
  <div class="search-page">
    <search-bar
      v-on:search="onSearch"
    />
    <div v-if="search">
      {{ totalItems }} results found.
    </div>
    <div v-if="data.length">
      <v-pagination
        v-model="page"
        :length="totalPages"
        :total-visible="10"
        @input="changePage"
      />
    </div>
    <div class="search-result">
      <div class="verse" :key="`${verse.chapter.book.abbrev} ${verse.chapter.number} ${verse.number}`" v-for="verse in data">
        <div>
          <router-link :to="getUrl(verse)">
            <span>
              {{ verse.chapter.book.abbrevZh || verse.chapter.book.abbrev }}
            </span>
            <span>{{ verse.chapter.number }}:</span>
            <span>{{ verse.number }}</span>
          </router-link>
          <span>{{ verse.text }}</span>
        </div>
      </div>
    </div>
    <div v-if="data.length">
      <v-pagination
        v-model="page"
        :length="totalPages"
        :total-visible="10"
        @input="changePage"
      />
    </div>
  </div>
</template>
<script>
import SearchBar from '@/components/SearchBar'
import { searchVerses } from '@/services/api'

export default {
  data: function () {
    return {
      data: [],
      totalPages: 1,
      totalItems: 0,
      page: 1,
      search: ''
    }
  },
  components: { SearchBar },
  methods: {
    onSearch(search) {
      this.search = search
      this.doSearch()
    },
    changePage(value) {
      this.page = value
      this.doSearch(value)
    },
    doSearch(page = 1) {
      searchVerses({
        search: this.search,
        page
      }).then(res => {
        this.data = res.data
        this.totalPages = res.totalPages
        this.totalItems = res.totalItems
        this.page = page
      })
    },
    getUrl(verse) {
      const { abbrev: bibleAbbrev } = verse.bible
      const { number: chapterNum, book: { abbrev: bookAbbrev } } = verse.chapter
      const { number: verseNum } = verse
      return `/bible/${bibleAbbrev}/books/${bookAbbrev}#${chapterNum}:${verseNum}`
    }
  }
}
</script>
