<template>
  <ui-form class="search-bar">
    <ui-form-field>
      <ui-textfield fullwidth outlined v-model="formSearch" @enter="onSubmit">
        Search
      </ui-textfield>
      <ui-button @click="onSearch">Search</ui-button>
    </ui-form-field>
  </ui-form >
</template>
<script>
export default {
  props: {
    search: String
  },
  data() {
    return {
      formSearch: this.search || ''
    };
  },
  methods: {
    onSearch() {
      this.$emit('search', this.formSearch);
    },
    onSubmit() {
      this.onSearch()
    }
  }
}
</script>
<style scoped>
.search-bar {
  margin-top: 1em;
  margin-bottom: 1em;
}
</style>
