<template>
  <div class="search-bar" @submit="onSubmit">
    <v-form>
      <v-text-field label="Search" placeholder="Search" v-model="search"></v-text-field>
      <v-btn color="primary" @click="onSearch">Search</v-btn>
    </v-form>
  </div>
</template>
<script>
export default {
  data: function () {
    return {
      search: ''
    };
  },
  methods: {
    onSearch() {
      const { search } = this.$data;
      this.$emit('search', search);
    },
    onSubmit(evt) {
      evt.preventDefault()
      this.onSearch()
    }
  }
}
</script>
<style scoped>
.search-bar {
  margin-bottom: 20px;
}
</style>
