<template>
  <div class="book">
    <div v-if="loading" class="loader">
      <ui-spinner active />
    </div>
    <h1 class="title">
      {{ book.nameZh || book.name }}
    </h1>
    <div class="chapter" :key="chapter.number" v-for="chapter in chapters">
      <h2>Chapter {{ chapter.number }}</h2>
      <div class="verse" :key="verse.number" v-for="verse in chapter.verses">
        <div v-if="verse.level === 1">
          <h4>{{ verse.title }}</h4>
        </div>
        <div v-else-if="verse.level === 2">
          <h3>{{ verse.title }}</h3>
        </div>
        <div v-else-if="verse.level === 3">
          <h2>{{ verse.title }}</h2>
        </div>
        <div v-if="verse.songSpeaker">
          <b>{{ verse.songSpeaker.speaker }}</b>
        </div>
        <div class="book-verse" v-bind:id="`${chapter.number}:${verse.number}`">
          <span>{{ verse.number }}</span>
          <span>{{ verse.text }}</span>

          <span class="book-external-verse" v-if="verse.number && showExternal">
            <a :href="`https://biblia.com/books/rsvce/${book.abbrev}:${chapter.number}.${verse.number}`" target="_blank">
              rsvce
            </a>
          </span>
          <span v-else />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { getBook } from '@/services/api'
export default {
  data() {
    return {
      book: {},
      loading: false,
      showExternal: true
    }
  },
  beforeMount() {
    const { bible, abbrev } = this.$route.params;
    this.loading = true;
    getBook(bible, abbrev).then(data => {
      this.book = data;
      this.loading = false;
      window.setTimeout(() => {
        this.scrollToElem()
      }, 200)

      document.title = `Biblicious - ${this.book.nameZh || this.book.name}`
    })
  },
  computed: {
    route: function() {
      return this.$route;
    },
    chapters: function() {
      return this.book.chapters || []
    }
  },
  methods: {
    scrollToElem() {
      const anchorId = this.$route.hash.replace(/^#/, '')
      const elem = document.querySelector(`[id="${anchorId}"]`)
      if (!elem) return
      elem.scrollIntoView()
    }
  }
}
</script>
<style lang="scss" scoped>
.loader {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.book-verse {
  display: grid;
  grid-template-columns: 1.4em 1fr 1em;
  line-height: 1.5;
  column-gap: .2em
}
.book-external-verse {
  vertical-align: super;
  font-size: .6rem;
  user-select: none;
}
</style>
