<template>
  <div class="books">
    <div :key="book.abbrev" v-for="book in books" class="books-item">
      <router-link :to="`/bible/${route.params.bible}/books/${book.abbrev}`">
        {{ getName(book) }} ({{ getAbbrev(book) }})
      </router-link>
    </div>
  </div>
</template>
<script>
import { getBooks } from '@/services/api';

export default {
  data() {
    return {
      books: []
    }
  },
  beforeMount() {
    getBooks().then(data => {
      this.books = data;
    })
  },
  computed: {
    route: function() {
      return this.$route;
    },
    getName: function() {
      const { bible } = this.$route.params
      return book => {
        if (bible === '思高') {
          return book.nameZh;
        }
        return book.name;
      }
    },
    getAbbrev: function() {
      const { bible } = this.$route.params
      return book => {
        if (bible === '思高') {
          return book.abbrevZh;
        }
        return book.abbrev;
      }
    }
  }
}
</script>

<style scoped>
.books-item {
  line-height: 1.5;
}
</style>
