<template>
  <div class="search-page">
    <search-bar
      v-on:search="onSearch"
      :search="search"
    />
    <div v-if="search">
      {{ totalItems }} results found.
    </div>
    <div v-if="data.length">
      <ui-pagination
        v-model="page"
        :total="totalPages"
        :page-span="5"
        position="center"
        @update:modelValue="changePage"
        show-jumper
        :page-size="1"
      />
    </div>
    <div class="search-result">
      <div class="verse" :key="`${verse.chapter.book.abbrev} ${verse.chapter.number} ${verse.number}`" v-for="verse in data">
        <div class="verse-row">
          <router-link :to="getUrl(verse)">
            <span class="verse-book">
              {{ verse.chapter.book.abbrevZh || verse.chapter.book.abbrev }}
            </span>
            <span>{{ verse.chapter.number }}:</span>
            <span>{{ verse.number }}</span>
          </router-link>
          <span>{{ verse.text }}</span>
        </div>
      </div>
    </div>
    <div v-if="data.length">
      <ui-pagination
        v-model="page"
        :total="totalPages"
        :page-span="5"
        position="center"
        @update:modelValue="changePage"
        show-jumper
        :page-size="1"
      />
    </div>
  </div>
</template>
<script>
import SearchBar from '@/components/SearchBar.vue'
import { searchVerses } from '@/services/api'

export default {
  data: function () {
    return {
      data: [],
      totalPages: 1,
      totalItems: 0,
      page: 1,
      search: ''
    }
  },
  components: { SearchBar },
  created() {
    const { s, p } = this.$route.query;
    if (s) {
      this.search = s;
    }
    if (p) {
      this.page = Number(p);
    }

    if (s) {
      this.callSearch(p);
    }
  },
  methods: {
    onSearch(search) {
      this.search = search;
      this.$router.push({ query: { s: search, p: 1 } });
      this.callSearch();
    },
    changePage(page) {
      this.page = page;
      this.$router.push({ query: { s: this.search, p: page } });
      this.callSearch(page);
    },
    async callSearch(page = 1) {
      const result = await searchVerses({
        search: this.search,
        page
      });
      this.data = result.data;
      this.totalPages = result.totalPages;
      this.totalItems = result.totalItems;
      this.page = Number(page);
    },
    getUrl(verse) {
      const { abbrev: bibleAbbrev } = verse.bible
      const { number: chapterNum, book: { abbrev: bookAbbrev } } = verse.chapter
      const { number: verseNum } = verse
      return `/bible/${bibleAbbrev}/books/${bookAbbrev}#${chapterNum}:${verseNum}`
    }
  }
}
</script>

<style scoped>
.verse-row {
  display: grid;
  grid-template-columns: 4em 1fr;
  line-height: 1.5;
}
.verse-book {
  margin-right: .2em;
}
</style>
